{
    "resources": [
        "DB/DB",
        "DB/SQLite",
        "DB/model",
        "fields/field",
        "fields/text",
        "fields/number",
        "fields/child",
        "fields/many",
        "fields/token",
        "fields/datetime",
        "files/JSON",
        "HTTP",
        "AI/AI",
        "AI/OpenAI",
        "security/token",
        "tag",
        "payload",
        "session",
        "CMS.dashboard.bi"
    ],
    "paths": {
        "resources": ["__CMS_ROOT__"]
    }
}
